@import (reference) '@wikimedia/codex-design-tokens/theme-wikimedia-ui.less';
@import '@wikimedia/codex/mixins/link.less';

* {
    box-sizing: @box-sizing-base;
}

// Use sans-serif fonts everywhere
html, body {
    font-family: @font-family-system-sans;
}

// Other global typographic styles can go here as necessary
a {
    .cdx-mixin-link();
}

h1 { font-size: @font-size-xx-large; }
h2 { font-size: @font-size-x-large; }
h3 { font-size: @font-size-large; }